body {
    line-height: 1.5;
    margin: 5%;
    background-image: url(../images/background.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;

}

html {
	scroll-behavior: smooth;
}

.first-container {
    text-align: center;
}

.my-photo {
    height: auto;
    width: 20%;
}

.my-photo {
    border-radius: 50%;
}

.contact-icon {
    height: 5vh;
    transition: transform .2s;
    margin: 10px;
}

.contact-icon:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5); 
    transform: scale(1.5); 
  }

.contact-icon-list {
    padding-bottom: 10px;
    }

.experience, .experience-title-2 {
    background-color: #ffffff6e;
    padding: 2%;
}


.btn-link {
    color: black;
}


#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
  }
  #back2Top:hover {
    background-color: #DDF;
    color: #000;
  }
  

